In [1]:
import pandas as pd
pd.set_option('max_rows',20) #max rows displayed is 20
import plotly.express as px
import plotly.io as pio
pio.renderers.default = "browser"

# IMPORTING LIBRARIES

In [2]:
import dash_auth

C:\Users\gunee\anaconda3\lib\site-packages\dash_auth\plotly_auth.py:16: UserWarning:


The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`

C:\Users\gunee\anaconda3\lib\site-packages\dash_auth\plotly_auth.py:17: UserWarning:


The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`

C:\Users\gunee\anaconda3\lib\site-packages\dash_auth\plotly_auth.py:16: UserWarning:


The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`

C:\Users\gunee\anaconda3\lib\site-packages\dash_auth\plotly_auth.py:17: UserWarning:


The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`

In [3]:
import dash
from dash.dependencies import Input, Output
import dash_core_components as dcc
import dash_html_components as html
import dash_bootstrap_components as dbc
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

# DATASET

In [4]:
CONF_URL = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
DEAD_URL = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
RECV_URL = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'

In [5]:
covid_conf_ts = pd.read_csv(CONF_URL)
covid_dead_ts = pd.read_csv(DEAD_URL)
covid_recv_ts = pd.read_csv(RECV_URL)

In [6]:
covid_conf_ts.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/22,5/21/22,5/22/22,5/23/22,5/24/22,5/25/22,5/26/22,5/27/22,5/28/22,5/29/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,179624,179674,179716,179716,179771,179835,179835,180086,180122,180174
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,275732,275838,275864,275881,275939,275985,276012,276048,276081,276101
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,265847,265851,265854,265855,265860,265862,265864,265870,265873,265873
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,42572,42572,42572,42572,42572,42894,42894,42894,42894,42894
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,99287,99287,99287,99287,99433,99527,99527,99527,99527,99527

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/22,5/21/22,5/22/22,5/23/22,5/24/22,5/25/22,5/26/22,5/27/22,5/28/22,5/29/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,179624,179674,179716,179716,179771,179835,179835,180086,180122,180174
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,275732,275838,275864,275881,275939,275985,276012,276048,276081,276101
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,265847,265851,265854,265855,265860,265862,265864,265870,265873,265873
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,42572,42572,42572,42572,42572,42894,42894,42894,42894,42894
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,99287,99287,99287,99287,99433,99527,99527,99527,99527,99527

In [7]:
covid_dead_ts.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/22,5/21/22,5/22/22,5/23/22,5/24/22,5/25/22,5/26/22,5/27/22,5/28/22,5/29/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/22,5/21/22,5/22/22,5/23/22,5/24/22,5/25/22,5/26/22,5/27/22,5/28/22,5/29/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
covid_recv_ts.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/22,5/21/22,5/22/22,5/23/22,5/24/22,5/25/22,5/26/22,5/27/22,5/28/22,5/29/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,7695,7697,7698,7698,7698,7699,7699,7699,7701,7701
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3497,3497,3497,3497,3497,3497,3497,3497,3497,3497
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,6875,6875,6875,6875,6875,6875,6875,6875,6875,6875
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,153,153,153,153,153,153,153,153,153,153
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1900,1900,1900,1900,1900,1900,1900,1900,1900,1900

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/22,5/21/22,5/22/22,5/23/22,5/24/22,5/25/22,5/26/22,5/27/22,5/28/22,5/29/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,7695,7697,7698,7698,7698,7699,7699,7699,7701,7701
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3497,3497,3497,3497,3497,3497,3497,3497,3497,3497
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,6875,6875,6875,6875,6875,6875,6875,6875,6875,6875
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,153,153,153,153,153,153,153,153,153,153
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1900,1900,1900,1900,1900,1900,1900,1900,1900,1900

# DATA CLEANING

In [9]:
#getting data in cleaned time series format for country
def process_data(data,cntry='US',window=3):
    conf_ts = data
    conf_ts_cntry = conf_ts[conf_ts['Country/Region']==cntry]
    final_dataset = conf_ts_cntry.T[4:].sum(axis='columns').diff().rolling(window=window).mean()[40:]
    df = pd.DataFrame(final_dataset,columns=['Total'])
    return df

#  SUMMING  UP TO GET TOTAL COUNT WORLDWIDE FOR THE THREE CASES

In [10]:
#getting overall wordlwide total for confirmed, recovered and dead cases
def get_overall_total(df):
    return df.iloc[:,-1].sum() #here -1 is used as it selects the last column in df because that is how division of files was done

conf_overall_total = get_overall_total(covid_conf_ts)
dead_overall_total = get_overall_total(covid_dead_ts)
recv_overall_total = get_overall_total(covid_recv_ts)
print('Overall Confirmed:',conf_overall_total)
print('Overall Dead:',dead_overall_total)
print('Overall Recovered:',recv_overall_total)

Overall Confirmed: 528997669
Overall Dead: 0
Overall Recovered: 6287786
Overall Confirmed: 528997669
Overall Dead: 0
Overall Recovered: 6287786

# Total country wise count

In [11]:
#get total for confirmed, recovered and dead for country 
def get_cntry_total(df,cntry='US'):
    return df[df['Country/Region']==cntry].iloc[:,-1].sum()

cntry = 'US'
conf_cntry_total = get_cntry_total(covid_conf_ts,cntry)
dead_cntry_total = get_cntry_total(covid_dead_ts,cntry)
recv_cntry_total = get_cntry_total(covid_recv_ts,cntry)
print(f'{cntry} Confirmed:',conf_cntry_total)
print(f'{cntry} Dead:',dead_cntry_total)
print(f'{cntry} Recovered:',recv_cntry_total)

US Confirmed: 83984644
US Dead: 0
US Recovered: 1004733
US Confirmed: 83984644
US Dead: 0
US Recovered: 1004733

# Performing country-wise data cleaning and generating a line graph

In [12]:
def fig_world_trend(cntry='US',window=3):
    df = process_data(data=covid_conf_ts,cntry=cntry,window=window)
    df.head(10)
    if window==1:
        yaxis_title = "Daily Cases" 
    else:
        yaxis_title = "Daily Cases ({}-days MA)".format(window)
    fig = px.line(df, y='Total', x=df.index, title='Daily confirmed cases trend for {}'.format(cntry),height=600,color_discrete_sequence =['indigo'])
    fig.update_layout(title_x=0.5,plot_bgcolor='#cfd7fa',paper_bgcolor='#ffffff',xaxis_title="Date",yaxis_title=yaxis_title)
    return fig

# DASH APP

In [13]:
external_stylesheets = [dbc.themes.BOOTSTRAP]

In [14]:
USERNAME_PASSWORD_PAIRS=[['username','password'],['Guneet-Kohli','1234']]

In [15]:
app = dash.Dash(__name__, external_stylesheets=external_stylesheets)
auth=dash_auth.BasicAuth(app,USERNAME_PASSWORD_PAIRS)
server= app.server
app.title = 'Covid-19 Dashboard'

In [16]:
colors = {
    'background': '#111111',
    'bodyColor':'#A7C7E7',
    'text': '#7FDBFF'
}
def get_page_heading_style():
    return {'backgroundColor': colors['background']}


def get_page_heading_title():
    return html.H1(children='COVID-19 Dashboard',
                                        style={
                                        'textAlign': 'center',
                                        'color': colors['text']
                                    })

def get_page_heading_subtitle():
    return html.Div(children='Visualizing Covid-19 data generated from sources all over the world over the selected period. ',
                                         style={
                                             'textAlign':'center',
                                             'color':colors['text']
                                         })

def generate_page_header():
    main_header =  dbc.Row(
                            [
                                dbc.Col(get_page_heading_title(),md=12)
                            ],
                            align="center",
                            style=get_page_heading_style()
                        )
    subtitle_header = dbc.Row(
                            [
                                dbc.Col(get_page_heading_subtitle(),md=12)
                            ],
                            align="center",
                            style=get_page_heading_style()
                        )
    header = (main_header,subtitle_header)
    return header

# Creating a dropdown list for every unique country

In [17]:
def get_country_list():
    return covid_conf_ts['Country/Region'].unique()

def create_dropdown_list(cntry_list):
    dropdown_list = []
    for cntry in sorted(cntry_list):
        tmp_dict = {'label':cntry,'value':cntry}
        dropdown_list.append(tmp_dict)
    return dropdown_list

def get_country_dropdown(id):
    return html.Div([html.Label('Select Country'),
                        dcc.Dropdown(id='my-id'+str(id),
                            options=create_dropdown_list(get_country_list()),
                            value='US'
                        ),
                        html.Div(id='my-div'+str(id))
                    ])

# Graph Container for Dash

In [18]:
def graph1():
    return dcc.Graph(id='graph1',figure=fig_world_trend('US'))

In [19]:
def generate_card_content(card_header,card_value,overall_value):
    card_head_style = {'textAlign':'center','fontSize':'150%'}
    card_body_style = {'textAlign':'center','fontSize':'200%'}
    card_header = dbc.CardHeader(card_header,style=card_head_style)
    card_body = dbc.CardBody(
        [
            html.H5(f"{int(card_value):,}", className="card-title",style=card_body_style),
            html.P(
                "Worldwide: {:,}".format(overall_value),
                className="card-text",style={'textAlign':'center'}
            ),
        ]
    )
    card = [card_header,card_body]
    return card

In [20]:
def generate_cards(cntry='US'):
    conf_cntry_total = get_cntry_total(covid_conf_ts,cntry)
    dead_cntry_total = get_cntry_total(covid_dead_ts,cntry)
    recv_cntry_total = get_cntry_total(covid_recv_ts,cntry)
    cards = html.Div(
        [
            dbc.Row(
                [
                    dbc.Col(dbc.Card(generate_card_content("Recovered",recv_cntry_total,recv_overall_total), color="success", inverse=True),md=dict(size=2,offset=3)),
                    dbc.Col(dbc.Card(generate_card_content("Confirmed",conf_cntry_total,conf_overall_total), color="warning", inverse=True),md=dict(size=2)),
                    dbc.Col(dbc.Card(generate_card_content("Dead",dead_cntry_total,dead_overall_total),color="dark", inverse=True),md=dict(size=2)),
                ],
                className="mb-4",
            ),
        ],id='card1'
    )
    return cards

# Moving Window Slider

In [21]:
def get_slider():
    return html.Div([  
                        dcc.Slider(
                            id='my-slider',
                            min=1,
                            max=15,
                            step=None,
                            marks={
                                1: '1',
                                3: '3',
                                5: '5',
                                7: '1-Week',
                                14: 'Fortnight'
                            },
                            value=3,
                        ),
                        html.Div([html.Label('Select Moving Average Window')],id='my-div'+str(id),style={'textAlign':'center'})
                    ])

# Generate App Layout

In [22]:
def generate_layout():
    page_header = generate_page_header()
    layout = dbc.Container(
        [
            page_header[0],
            page_header[1],
            html.Hr(),
            generate_cards(),
            html.Hr(),
            dbc.Row(
                [
                    dbc.Col(get_country_dropdown(id=1),md=dict(size=4,offset=4))                    
                ]
            
            ),
            dbc.Row(
                [                
                    
                    dbc.Col(graph1(),md=dict(size=6,offset=3))
        
                ],
                align="center",

            ),
            dbc.Row(
                [
                    dbc.Col(get_slider(),md=dict(size=4,offset=4))                    
                ]
            
            ), 
        ], fluid=True,style={'backgroundColor': colors['bodyColor']}
    )
    return layout

In [23]:
app.layout = generate_layout()

# Assigning Dash Callbacks

In [24]:
@app.callback(
    [Output(component_id='graph1',component_property='figure'), #line chart
    Output(component_id='card1',component_property='children')], #overall card numbers
    [Input(component_id='my-id1',component_property='value'), #dropdown
     Input(component_id='my-slider',component_property='value')] #slider
)
def update_output_div(input_value1,input_value2):
    return fig_world_trend(input_value1,input_value2),generate_cards(input_value1)

# Running the app server

In [ ]:
app.run_server(host= '0.0.0.0',debug=False)

Dash is running on http://0.0.0.0:8050/

Dash is running on http://0.0.0.0:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
   Use a production WSGI server instead.
 * Debug mode: off
 * Debug mode: off

 * Running on all addresses.
   WARNING: This is a development server. Do not use it in a production deployment.
 * Running on all addresses.
   WARNING: This is a development server. Do not use it in a production deployment.
 * Running on http://192.168.29.159:8050/ (Press CTRL+C to quit)
 * Running on http://192.168.29.159:8050/ (Press CTRL+C to quit)
192.168.29.159 - - [30/May/2022 11:15:11] "GET / HTTP/1.1192.168.29.159 - - [30/May/2022 11:15:11] "" 401 -
GET / HTTP/1.1" 401 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET / HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET / HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/deps/react@16.v2_3_1m1651768108.14.0.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/deps/react@16.v2_3_1m1651768108.14.0.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/deps/polyfill@7.v2_3_1m1651768108.12.1.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/deps/polyfill@7.v2_3_1m1651768108.12.1.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/deps/react-dom@16.v2_3_1m1651768108.14.0.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/deps/react-dom@16.v2_3_1m1651768108.14.0.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/deps/prop-types@15.v2_3_1m1651768108.7.2.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/deps/prop-types@15.v2_3_1m1651768108.7.2.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash_bootstrap_components/_components/dash_bootstrap_components.v1_1_0m1651769165.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash_bootstrap_components/_components/dash_bootstrap_components.v1_1_0m1651769165.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/html/dash_html_components.v2_0_2m1651768108.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/html/dash_html_components.v2_0_2m1651768108.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/dcc/dash_core_components-shared.v2_3_0m1651768108.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/dcc/dash_core_components-shared.v2_3_0m1651768108.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/dash-renderer/build/dash_renderer.v2_3_1m1651768108.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/dash-renderer/build/dash_renderer.v2_3_1m1651768108.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/dash_table/bundle.v5_1_1m1651768108.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/dash_table/bundle.v5_1_1m1651768108.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/dcc/dash_core_components.v2_3_0m1651768108.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/dcc/dash_core_components.v2_3_0m1651768108.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-layout HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-layout HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-dependencies HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-dependencies HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_favicon.ico?v=2.3.1 HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_favicon.ico?v=2.3.1 HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/dcc/async-slider.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:25] "GET /_dash-component-suites/dash/dcc/async-slider.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:26] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:26] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:26] "POST /_dash-update-component HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:26] "POST /_dash-update-component HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:26] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:15:26] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:47] "GET / HTTP/1.1192.168.29.159 - - [30/May/2022 11:56:47] "" 401 -
GET / HTTP/1.1" 401 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET / HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET / HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/deps/polyfill@7.v2_3_1m1651768108.12.1.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/deps/polyfill@7.v2_3_1m1651768108.12.1.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/deps/react-dom@16.v2_3_1m1651768108.14.0.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/deps/react-dom@16.v2_3_1m1651768108.14.0.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/deps/react@16.v2_3_1m1651768108.14.0.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/deps/react@16.v2_3_1m1651768108.14.0.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/deps/prop-types@15.v2_3_1m1651768108.7.2.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/deps/prop-types@15.v2_3_1m1651768108.7.2.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash_bootstrap_components/_components/dash_bootstrap_components.v1_1_0m1651769165.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash_bootstrap_components/_components/dash_bootstrap_components.v1_1_0m1651769165.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/dash-renderer/build/dash_renderer.v2_3_1m1651768108.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/dash-renderer/build/dash_renderer.v2_3_1m1651768108.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/dcc/dash_core_components.v2_3_0m1651768108.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/dcc/dash_core_components.v2_3_0m1651768108.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/dcc/dash_core_components-shared.v2_3_0m1651768108.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/html/dash_html_components.v2_0_2m1651768108.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/dash_table/bundle.v5_1_1m1651768108.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/dcc/dash_core_components-shared.v2_3_0m1651768108.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/html/dash_html_components.v2_0_2m1651768108.min.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-component-suites/dash/dash_table/bundle.v5_1_1m1651768108.js HTTP/1.1" 200 -

192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-layout HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-layout HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-dependencies HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:49] "GET /_dash-dependencies HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:50] "GET /_favicon.ico?v=2.3.1 HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:50] "GET /_favicon.ico?v=2.3.1 HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:50] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:50] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:50] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:50] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:50] "GET /_dash-component-suites/dash/dcc/async-slider.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:50] "GET /_dash-component-suites/dash/dcc/async-slider.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:50] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:50] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:50] "POST /_dash-update-component HTTP/1.1" 200 -
192.168.29.159 - - [30/May/2022 11:56:50] "POST /_dash-update-component HTTP/1.1" 200 -